@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
:root{
  --tokens:#f3ea60;
  --tokenShadow:#b96453;
  --tokenText:#754d26;
  --background: #da7ff2;
  --btnBackground:#3edaf1;
  --btnShadow:#0885da;
  --btnText:#135fb5;
}

body
{
  font-family: 'Poppins';
  background-color: var(--background);
  color:var(--tokenText);
}
.board
{
  border: 1px solid transparent;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
  width: 310px;
  margin: 20px auto 30px;
}
.token
{
  background-color: var(--tokens);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 3px 3px var(--tokenShadow);
}
/*BATALHA INICIAL*/
.first-screen{
  text-align: center;
}
.first-screen p{
  font-weight: bold;
  font-size: 32px;
}
.first-screen img{
  width: 300px;
}

/*BOTÃO COMEÇAR*/
.startBtn-container{
  position: relative;
  width: 280px;
  margin: 0 auto 300px;
}
.play-btn{
  width: 200px;
  height: 60px;
  font-size: 30px;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--btnBackground);
  color: var(--btnText);
  border: none;
  position: absolute;
  top:0; 
  font-family: 'Poppins';
}
.btn-shadow{
  width: 200px;
  height: 60px;
  background-color: var(--btnShadow);
  border-radius: 8px;
  position: absolute;
  top: 4px;
  z-index: -1;
}
/*CONTADOR = COUNTER*/
.counter-container{
  text-align: center;
  font-size: 40px;
  margin-top: 60px;
}
.counter{
  display: none;
}
/*TEXTO GAME OVER*/
.game-over{
  font-size: 48px;
  width: 300px;
  text-align: center;
  margin: 60px 0px;
}
